html {
    margin: 0;
    padding: 0;
}

body {
    width: 500px;
    height: 550px;
    border: solid 1px black;
}

header {
    display: flex;
    justify-content: center;
}

#display {
    display: flex;
    justify-content: center;
    border: solid 2px black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    width: 310px;
    height: 45px;
    border-radius: 5px;
    font-size: 2rem;
}
#display::placeholder {
    opacity: 0.5;
}
#display:focus {
    outline: none;
}

.box {
    display: flex;
    justify-content: center;
}

button {
    width: 75px;
    height: 75px;
    font-size: 2rem;
    margin: 3px;
    border-radius: 5px;
}
.row1, .row2, .row3, .row4, .row5 {
    display: flex;
}